@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root
{
  --primary-font: "Sora", system-ui;
  --primary-color : #9D174D;
  --black-color: #232323;
  --secondary-color: #9C70ED;
  --glass-effect-color: rgba(163, 162, 162, 0.2);
  --purple-color: rgba(40, 20, 77, 1);
  --purple2-color: rgba(120, 61, 227, 0.81);
  --red-color: rgba(86, 15, 43, 1);
  --background-gradient: linear-gradient(to right, var(--purple-color),  var(--red-color) )
}


/* --------- THE CSS RESET STYLINGS --------- */
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
  
}
a
{
  text-decoration: none;
  color: inherit;
}
li
{
  list-style-type: none;
}

/* --------- GENERAL STYLINGS --------- */
body
{
  color: #232323;
}

/* --------- UTILITY CLASSES ---------- */
.flex
{
  display: flex;
}
.flex-align
{
  align-items: center;
}
.flex-justify-center
{
  justify-content: center;
}
.flex-center
{
  align-items: center;
  justify-content: center; 
}
.flex-justify-between
{
  justify-content: space-between;
}
.flex-column
{
  flex-direction: column;
}
.display-none
{
  display: none;
  
}
.links
{
  text-decoration: none;
  color: inherit;
}