.login-form-glass-background{
    background-color: var( --glass-effect-color);
    width: 60vw;
    height: 150px;
  
  }
  .login-form
  {
    height: 80vh;
    color: #fcfcfc;
  }
  .login-form h2
  {
    font-size: 20px;
    font-weight: 500;
  }
  .login-form p
  {
    font-size: 12px;
    font-weight: 200;
    color: #dbdadafc;
    margin-top: 0px;
  }