.Root-Layout
{
  background: var(--background-gradient);
  min-height: 100vh;

}
.Root-Layout h3
{
  color: #7C7979;
  font-size: 12px;
  font-size: 40px;
  font-weight: 400;
  margin-left: 20px;
  padding-top: 20px;
}